/* Breakpoints */

@media (min-width: 265px) {
  .title {
    font-size: 50px;
    margin-left: 50px;
  }

  .subtitle {
    margin-left: 50px;
  }
}

@media (min-width: 365px) {
  .title {
    font-size: 50px;
    margin-left: 50px;
  }
  .subtitle {
    margin-left: 50px;
  }
}

@media (min-width: 465px) {
  .title {
    font-size: 50px;
    margin-left: 100px;
  }
  .subtitle {
    margin-left: 100px;
  }
}

@media (min-width: 576px) {
  .title {
    font-size: 50px;
    margin-left: 100px;
  }
  .subtitle {
    margin-left: 100px;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 50px;
    margin-left: 100px;
  }

  .subtitle {
    margin-left: 100px;
  }
}

@media (min-width: 992px) {
  .title {
    font-size: 60px;
    margin-left: 100px;
  }

  .subtitle {
    margin-left: 100px;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 60px;
    margin-left: 100px;
  }
  .subtitle {
    margin-left: 100px;
  }
}

@media (min-width: 1400px) {
  .title {
    font-size: 90px;
    margin-left: 100px;
  }
  .subtitle {
    margin-left: 100px;
  }
}

.hero-text {
  justify-content: center;
  align-items: center;
}

hr {
  align-items: center;
  margin: auto;
  color: inherit;
  background-color: black;
  border: 0;
  opacity: 0.25;
}

.title {
  margin-top: 170px;
  color: #333333;
}

.subtitle {
  color: #333333;
  margin-bottom: 50px;
}

.description {
  font-weight: 300;
}
.icon {
  width: 40px;
  height: 40px;
  margin: 20px 20px 20px 20px;
}

.hero-icon {
  display: flex;
  justify-content: center;
}

.twitter:hover {
  color: #00acee;
}

.github:hover {
  color: #6e5494;
}

.linkedin:hover {
  color: #0e76a8;
}
