.navbar {
  height: 60px;
  position: sticky;
  width: 100%;
  z-index: 1;
  top: 0;
}

.bg-light {
  background-color: white !important;
}

a {
  color: #fca311;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #14213d;
}

.active {
  color: black;
}

footer {
  background-color: #f4f4f4;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  padding: 15px 0 15px 0;
}

.icon {
  margin: 0 5px 0 5px;
}
.react-icon {
  color: #61dbfb;
}
