.navbar {
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4) !important;
}

.bg-light {
  background-color: white !important;
}

a {
  color: #1148fc;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #e61e5a;
}

.active {
  color: black;
}

footer {
  background-color: #f4f4f4;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  padding: 15px 0 15px 0;
}

.icon {
  margin: 0 5px 0 5px;
}
.react-icon {
  color: #61dbfb;
}
