.bg-light {
  background-color: white !important;
}

a {
  color: #fca311;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #14213d;
}

.active {
  color: #14213d;
}
