/* --------------- Hero --------------- */

.hero {
  font-family: "Fira Sans", sans-serif;
}

hr {
  align-items: center;
  margin: auto;
  color: inherit;
  background-color: black;
  border: 0;
  opacity: 0.25;
}

.hero-title {
  margin-top: 170px;
  color: #0c090d;
}

.hero-subtitle {
  color: #333333;
  margin-bottom: 50px;
}

.hero-description {
  font-weight: 300;
  margin-bottom: 150px;
}

a:active {
  color: #0c090d;
}
.hero-icons {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.hero-icon {
  width: 40px;
  height: 40px;
  margin: 20px 20px 20px 20px;
}

a .twitter {
  color: #62bee2;
}

.twitter:hover {
  color: #00acee;
}

a .github {
  color: #0c090d;
}

.github:hover {
  color: #6e5494;
}

a .linkedin {
  color: #3e82a1;
}
.linkedin:hover {
  color: #0e76a8;
}

/* --------------- Breakpoints --------------- */

@media (min-width: 265px) {
  .hero-title {
    font-size: 50px;
    margin-left: 50px;
  }

  .hero-subtitle {
    margin-left: 50px;
  }
  .hero-description {
    margin-left: 50px;
  }
}

@media (min-width: 365px) {
  .hero-title {
    font-size: 50px;
    margin-left: 50px;
  }
  .hero-subtitle {
    margin-left: 50px;
  }
  .hero-description {
    margin-left: 50px;
  }
}

@media (min-width: 465px) {
  .hero-title {
    font-size: 50px;
    margin-left: 50px;
  }
  .hero-subtitle {
    margin-left: 50px;
  }
  .hero-description {
    margin-left: 50px;
  }
}

@media (min-width: 576px) {
  .hero-title {
    font-size: 50px;
    margin-left: 50px;
  }
  .hero-subtitle {
    margin-left: 50px;
  }
  .hero-description {
    margin-left: 50px;
  }
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 50px;
    margin-left: 50px;
  }

  .hero-subtitle {
    margin-left: 50px;
  }
  .hero-description {
    margin-left: 50px;
  }
}

@media (min-width: 992px) {
  .hero-title {
    font-size: 60px;
    margin-left: 100px;
  }

  .hero-subtitle {
    margin-left: 100px;
  }
  .hero-description {
    margin-left: 100px;
  }
}

@media (min-width: 1200px) {
  .hero-title {
    font-size: 60px;
    margin-left: 100px;
  }
  .hero-subtitle {
    margin-left: 100px;
  }
  .hero-description {
    margin-left: 100px;
  }
}

@media (min-width: 1400px) {
  .hero-title {
    font-size: 90px;
    margin-left: 100px;
  }
  .hero-subtitle {
    margin-left: 100px;
  }

  .hero-description {
    margin-left: 100px;
  }
}
